.panes {
  overflow: hidden;

  .scroller {
    padding: $lineheight 0;
    display: flex;
    min-height: 100vh;
    //transition: transform .25s ease-out;
  }

  .pane {
    position: relative;
    overflow: hidden;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
