/* =NAV
--------------------------------------------- */

.nav-dots {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;

  .dot {
    display: inline-block;
    cursor: pointer;
    width: 7px;
    height: 7px;
    margin: 0 3px;
    background-color: #666;
    transition: background-color .2s ease;
    text-indent: -999px;
    border-radius: 100%;

    &:hover {
      background-color: #ccc;
    }

    &.current {
      background-color: #fff;
    }
  }
}
